@font-face {
    font-family: "TT Lakes";
    src:    url("/fonts/TTLakes-Regular.woff") format("woff"),
            url("/fonts/TTLakes-Medium.woff") format("woff"),
            url("/fonts/TTLakes-Bolt.woff") format("woff"),

            url("/fonts/TTLakes-Regular.ttf") format("ttf"),
            url("/fonts/TTLakes-Medium.ttf") format("ttf"),
            url("/fonts/TTLakes-Bolt.ttf") format("ttf"),

            url("/fonts/TTLakes-Regular.eot") format("eot"),
            url("/fonts/TTLakes-Medium.eot") format("eot"),
            url("/fonts/TTLakes-Bolt.eot") format("eot");
   }

body {
    font-family: TT Lakes;
}

h1 {
    font-size: 28px;
}

.navigation__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.services__buttons {
    display: flex;
    flex-wrap: wrap;
}

.services__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 240px;
    height: 40px;
    font-size: 16px;
}

.services__button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.services__title {
    display: flex;
    gap: 12px;
}