@font-face {
    font-family: "TT Lakes";
    src:    url("/fonts/TTLakes-Regular.ttf") format("ttf"),
            url("/fonts/TTLakes-Regular.eot") format("eot"),
            url("/fonts/TTLakes-Regular.woff") format("woff");
            font-weight: 400;
}
   
@font-face {
   font-family: "TT Lakes";
    src:
            url("/fonts/TTLakes-Medium.ttf") format("ttf"),
            url("/fonts/TTLakes-Medium.eot") format("eot"),
            url("/fonts/TTLakes-Medium.woff") format("woff");
            font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
        src:
            url("/fonts/TTLakes-Bold.ttf") format("ttf"),
            url("/fonts/TTLakes-Bold.eot") format("eot"),
            url("/fonts/TTLakes-Bold.woff") format("woff");
            font-weight: 700;
}

.navigation__logo-around-tab1-2, .navigation__logo-around-tab1-1 {
    height: 32px;
    width: 2px;
    align-self: center;
}

.header {
    background-color: white;
}

body {
    font-family: TT Lakes;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1fr;
    min-width: 320px;
    background-color: #F8F8F8;
}



.navigation {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.navigation__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.navigation__mobile {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;    ;
    width: 100%;
    
}

.navigation__tablet-start {
    display: none;
}

.navigation__tablet-end {
    display: none;    
}

.navigation__desktop {
    display: none;
}


.services__buttons {
    display: flex;
    overflow: scroll;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.services__button {
    flex-shrink: 0;
    background: none;
    border: 2px solid #F8F8F8;;
    border-radius: 6px;
    margin: 0;
    padding: 10px;
    width: auto;
    height: 40px;
    font-size: 16px;
}

.services__button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.services__title {
    display: flex;
    gap: 12px;
    margin-left: 0px;
}

.main__text {
    padding-left: 10px;
    padding-right: 10px;
}

.main__button-read-more {
    background: none;
    border: none;
    padding: 10 px;
}

.main__button-read-els-some-more {
    margin-top: -30px;
    padding-left: 20px;
}

.main__text__hidden {
        visibility: hidden;
        padding-left: 10px;
        padding-right: 10px;
}

.main__button-read-more {
    visibility: hidden;
}

.main__button-read-more:checked ~ .main__text__hidden {
    visibility: inherit;
}

.main__button-read-more:checked ~ .main__button-read-els-some-more {
    display: none;
}

.main__button-read-more:checked ~ .main__button-read-more {
    display: none;
}

.main__text__hidden {
    margin-top: -30px;
}

.main__picture {
    width: 100%;
    object-fit: cover;   
}

@media (min-width: 768px) {

    .navigation__mobile {
        display: none;
    }

    .navigation__tablet-start {
        display: flex;
        justify-content: flex-start;
        gap: 0;
        margin-left: -20px;
    }

    .navigation__tablet-end {
        display: flex;
        justify-content: center;
        margin-left: auto;
        gap: 0;
    }

    .navigation__button {
        padding-left: 20px;
    
    }

    .navigation__chat {
        padding-right: 20px;
    }  

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding-right: 20px;
    }

}

@media (min-width: 1120px) {

    .navigation__mobile {
        display: none;
    }

    .navigation__tablet-start {
        display: none;
    }

    .navigation__tablet-end {
        display: none;
    }

    body {
        margin: 0 auto;
    }

    .navigation__desktop {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: 30px;
        align-items: center;
        margin-top: 30px;
    }

    .services__title {
        margin-top: -60px;
    }

    .services__buttons {
        overflow: auto;
        flex-wrap: wrap;
    }

}