@font-face {
    font-family: "TT Lakes";
    src:    url("fonts/TTLakes-Regular.ttf") format("ttf"),
            url("fonts/TTLakes-Regular.eot") format("eot"),
            url("fonts/TTLakes-Regular.woff") format("woff");
            font-weight: 400;
}
   
@font-face {
   font-family: "TT Lakes";
    src:
            url("fonts/TTLakes-Medium.ttf") format("ttf"),
            url("fonts/TTLakes-Medium.eot") format("eot"),
            url("fonts/TTLakes-Medium.woff") format("woff");
            font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
        src:
            url("fonts/TTLakes-Bold.ttf") format("ttf"),
            url("fonts/TTLakes-Bold.eot") format("eot"),
            url("fonts/TTLakes-Bold.woff") format("woff");
            font-weight: 700;
}

.navigation__logo-around-tab1-2, .navigation__logo-around-tab1-1 {
    height: 32px;
    width: 2px;
    align-self: center;
}

body {
    font-family: TT Lakes;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1fr;
    min-width: 320px;
    background-color: #F8F8F8;
}

header {
    background-color: white;
    font-family: TT Lakes;
    height: 87px;
}

.navigation {
    display: flex;

    padding-left: 20px;
    padding-right: 20px;
}

.navigation__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;

}

.navigation__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;    ;
    width: 100%;
    padding-top: 16px;
}

.navigation__tablet-start {
    display: none;
}

.navigation__tablet-end {
    display: none;    
}

.navigation__desktop {
    display: none;
}


.services__buttons {
    display: flex;
    overflow: scroll;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.services__button {
    flex-shrink: 0;
    background: none;
    border: 2px solid #F8F8F8;;
    border-radius: 6px;
    margin: 0;
    padding: 10px;
    width: auto;
    height: 40px;
    font-size: 16px;
    color: #7E7E82;
}

.services__button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.services__title {
    display: flex;
    gap: 12px;
    margin-left: 0px;
}

.main__text {
    padding-left: 10px;
    padding-right: 10px;
}

.main__button-read-more {
    background: none;
    border: none;
    padding: 10 px;
}

.main__button-read-els-some-more {
    margin-top: -30px;
    padding-left: 20px;
    font-weight: 500;
}

.main__text__hidden {
        display: none;
        padding-left: 10px;
        padding-right: 10px;
}

.main__button-read-more {
    visibility: hidden;
}

.main__button-read-more:checked ~ .main__text__hidden {
    display: inline-block;
}

.main__button-read-more:checked ~ .main__button-read-els-some-more {
    display: none;
}

.main__button-read-more:checked ~ .main__button-read-more {
    display: none;
}

.main__text__hidden {
    margin-top: -30px;
}

.main__picture {
    width: 100%;
    object-fit: cover; 
}

@media (min-width: 768px) {

    .navigation__mobile {
        display: none;
    }

    .navigation__tablet-start {
        display: flex;
        justify-content: flex-start;
        gap: 0;
        margin-left: -20px;
        padding-top: 16px;
    }

    .navigation__button-tab1 {
        margin-left: 1rem;
    }

    .navigation__tablet-end {
        display: flex;
        justify-content: center;
        margin-left: auto;
        gap: 0;
        padding-top: 16px;
    }

    .navigation__button {
        padding-left: 20px;
    
    }

    .navigation__chat {
        padding-right: 20px;
    }  

    .header {
        font-family: TT Lakes;
    }

    .main {
        font-family: TT Lakes;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

    }

}

@media (min-width: 1120px) {

    .navigation__mobile {
        display: none;
    }

    .navigation__tablet-start {
        display: none;
    }

    .navigation__tablet-end {
        display: none;
    }

    header {
        background-color: #F8F8F8;
    }

    body {
        margin: 0 auto;
        max-width: 1120px
    }

    .navigation__desktop {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: 30px;
        align-items: center;
        margin-top: 30px;
    }

    .services__title {
        margin-top: -60px;
    }

    .services__buttons {
        overflow: auto;
        flex-wrap: wrap;
    }

    .main {
        padding-right: 45px;
    }

}



.side-panel {
    box-shadow: 2rem 0 2rem #F2F2F2;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 64rem;
    width: 18rem;
    height: 61rem;
}

.side-panel__call--radio {display: none;}

.side-panel__call--radio:checked ~ .side-panel {
    visibility: visible;
    transition: all 1s ease 0s;
    transform: translateY(-65rem);   
}


.side-panel-tab1 {
    box-shadow: 2rem 0 2rem #F2F2F2;
    visibility: hidden;
    position: absolute;
    top: 64rem;
    width: 18rem;
    height: 61rem;
}

.side-panel__call--radio-tab1 {display: none;}

.side-panel__call--radio-tab1:checked ~ .side-panel-tab1 {
    visibility: visible;
    transition: all 1s ease 0s;
    transform: translateY(-65rem);   
}