@font-face {
    font-family: "TT Lakes";
    src:    url("/fonts/TTLakes-Regular.ttf") format("ttf"),
            url("/fonts/TTLakes-Regular.eot") format("eot"),
            url("/fonts/TTLakes-Regular.woff") format("woff");
            font-weight: 400;
}
   
@font-face {
   font-family: "TT Lakes";
    src:
            url("/fonts/TTLakes-Medium.ttf") format("ttf"),
            url("/fonts/TTLakes-Medium.eot") format("eot"),
            url("/fonts/TTLakes-Medium.woff") format("woff");
            font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
        src:
            url("/fonts/TTLakes-Bold.ttf") format("ttf"),
            url("/fonts/TTLakes-Bold.eot") format("eot"),
            url("/fonts/TTLakes-Bold.woff") format("woff");
            font-weight: 700;
}

body {
    font-family: TT Lakes;
    margin: 0;
    
}

h1 {
    font-size: 28px;
}

.navigation {
    display: flex;
}

.navigation__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.navigation__mobile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
}

.navigation__tablet {
    display: none;
    
}

.navigation__desktop {
    display: none;
}


.services__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services__button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: 40px;
    font-size: 16px;
}

.services__button:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.services__title {
    display: flex;
    gap: 12px;
}

@media (min-width: 321px) {

    .navigation__menu {
        order: -2;
    }

    .navigation__logo-around {
        order: -1;
        margin-left: 0;
    }
    
    .navigation__mobile {
        justify-content: start;
        gap: 20px;
        margin-left: 20px;
    }

    /* .navigation__repair, .navigation__check-the-status {
        position: relative;
        left: 5cm;;
    } */

    .navigation__tablet {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        margin-right: 20px;
    }
    
}

@media (min-width: 769px) {

    body {
        max-width: 1120px;
        margin: 0 auto;
    }


    .navigation__desktop {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    
}